.vsidx
.vs
*.dll
*.exe
*.pdb
Grupa4_Tim1_KnjigaRecepata/obj/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.AssemblyInfo.cs
Grupa4_Tim1_KnjigaRecepata/obj/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.AssemblyInfoInputs.cache
*.cache
Grupa4_Tim1_KnjigaRecepata/obj/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.csproj.FileListAbsolute.txt
Grupa4_Tim1_KnjigaRecepata/obj/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.GeneratedMSBuildEditorConfig.editorconfig
Grupa4_Tim1_KnjigaRecepata/obj/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.sourcelink.json
Grupa4_Tim1_KnjigaRecepata/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Grupa4_Tim1_KnjigaRecepata/obj/Release/net8.0/Grupa4_Tim1_KnjigaRecepata.AssemblyInfo.cs
Grupa4_Tim1_KnjigaRecepata/obj/Release/net8.0/Grupa4_Tim1_KnjigaRecepata.GeneratedMSBuildEditorConfig.editorconfig
Grupa4_Tim1_KnjigaRecepata/obj/Release/net8.0/Grupa4_Tim1_KnjigaRecepata.GlobalUsings.g.cs
KnjigaRecepataTest/obj/Debug/net8.0/KnjigaRecepataTest.AssemblyInfo.cs
KnjigaRecepataTest/obj/Debug/net8.0/KnjigaRecepataTest.GeneratedMSBuildEditorConfig.editorconfig
KnjigaRecepataTest/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
KnjigaRecepataTest/obj/Release/net8.0/KnjigaRecepataTest.AssemblyInfo.cs
KnjigaRecepataTest/obj/Release/net8.0/KnjigaRecepataTest.GeneratedMSBuildEditorConfig.editorconfig
KnjigaRecepataTest/obj/Release/net8.0/KnjigaRecepataTest.GlobalUsings.g.cs
Grupa4_Tim1_KnjigaRecepata/obj/Grupa4_Tim1_KnjigaRecepata.csproj.nuget.dgspec.json
Grupa4_Tim1_KnjigaRecepata/obj/Grupa4_Tim1_KnjigaRecepata.csproj.nuget.g.props
Grupa4_Tim1_KnjigaRecepata/obj/project.assets.json
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/CoverletSourceRootsMapping_KnjigaRecepataTest
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.deps.json
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.runtimeconfig.json
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/KnjigaRecepataTest.deps.json
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/KnjigaRecepataTest.runtimeconfig.json
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/build-output/CoverletSourceRootsMapping_KnjigaRecepataTest
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/build-output/Grupa4_Tim1_KnjigaRecepata.deps.json
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/build-output/Grupa4_Tim1_KnjigaRecepata.runtimeconfig.json
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/build-output/KnjigaRecepataTest.deps.json
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/build-output/KnjigaRecepataTest.runtimeconfig.json
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/build-output/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/build-output/ShoppingListaTest.cs
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/Cobertura.xml
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.datacollector.24-11-16_22-34-53_92156_5.log
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.host.24-11-16_22-34-54_29034_5.log
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.log
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/hotspots.xml
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/index.htm
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/index.html
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/index-processed.html
KnjigaRecepataTest/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/KnjigaRecepataTest.coverage.xml
KnjigaRecepataTest/bin/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.deps.json
KnjigaRecepataTest/bin/Debug/net8.0/Grupa4_Tim1_KnjigaRecepata.runtimeconfig.json
KnjigaRecepataTest/bin/Debug/net8.0/KnjigaRecepataTest.deps.json
KnjigaRecepataTest/bin/Debug/net8.0/KnjigaRecepataTest.runtimeconfig.json
KnjigaRecepataTest/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
KnjigaRecepataTest/bin/Debug/net8.0/ShoppingListaTest.cs
KnjigaRecepataTest/obj/Debug/net8.0/KnjigaRecepataTest.csproj.FileListAbsolute.txt
KnjigaRecepataTest/obj/Debug/net8.0/KnjigaRecepataTest.sourcelink.json
KnjigaRecepataTest/obj/KnjigaRecepataTest.csproj.nuget.dgspec.json
KnjigaRecepataTest/obj/KnjigaRecepataTest.csproj.nuget.g.props
KnjigaRecepataTest/obj/project.assets.json
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/build-output/CoverletSourceRootsMapping_KnjigaRecepataTest
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/build-output/KnjigaRecepataTest.deps.json
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/build-output/SastojakTestPodaci.csv
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/Cobertura.xml
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.datacollector.24-11-22_04-05-53_99560_5.log
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.datacollector.24-11-23_02-35-58_62121_5.log
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.host.24-11-22_04-05-54_43124_5.log
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.host.24-11-23_02-35-59_27893_5.log
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.log
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/index.htm
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/index.html
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/index-processed.html
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/fine-code-coverage/coverage-tool-output/KnjigaRecepataTest.coverage.xml
KnjigaRecepataTest/bin/Debug/net8.0/Debug/net8.0/SastojakTestPodaci.csv
KnjigaRecepataTest/bin/Debug/net8.0/Release/net8.0/CoverletSourceRootsMapping_KnjigaRecepataTest
KnjigaRecepataTest/bin/Debug/*